* {
    box-sizing: border-box;
}

.main-links a,
.hero-internal__sign {
    font-size: 18px;
    color: #E5E7EB;
}
.header,
.cta-internal__box,
button,
footer {
    color: #f9faf8;
}
.header {
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    
}

.main-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}


.main-links a {
    text-decoration: none;
    padding: 8px;
}

.logo {
    margin-left: 20px;
}

.hero {
    background: #1F2937;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.samples {
    /* background: coral; */
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
}

h2 {
    text-align: center;
}
.quote {
    background-color: #E5E7EB;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta {
    /* background: powderblue; */
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-internal {
    display: flex;
    justify-content:center;
    height: 300px;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;

}

.hero-internal__image {
    background-color: red;
}

.hero-internal__sign,
.hero-internal__image {
    width: 400px;
    height: 200px;
    padding: 8px;
}

figcaption {
    width: 100px;
    height: 100px;
    font-size: 12px;
}

.samples-internal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* margin: 0 auto; */
}

figure {
    text-align: center;
    margin: 0 auto;
}

figure img {
    border: 2px solid #3882f6;
    border-radius: 6px;
}

.quote-internal {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    
}

.cta-internal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: #3382f6;
    border-radius: 6px;
}

.cta-internal__call {
    margin: 10px;
    flex: 2;
}

.cta-internal__call h3,
.cta-internal__call p {
    margin: 0;
}

.cta-internal__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

button {
    background-color: #3882f6;
    border-radius: 6px;
}

.cta-internal__box button {
    border: 1px solid #f9faf8;
    width: 100px;
}