* {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
}

.header {
    background: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li {
    padding: 0 8px;
}

.main-links a {
    text-decoration: none;
}

.logo {
    margin-left: 20px;
}

.hero {
    background: pink;
    width: 100%;
    min-height: 400px;
}

.samples {
    background: coral;
    width: 100%;
    height: 100px;
}
.quote {
    background: greenyellow;
    width: 100%;
    height: 100px;
}
.cta {
    background: powderblue;
    width: 100%;
    height: 100px;
}

footer {
    width: 100%;
    height: 70px;
    background-color: cornflowerblue;
}

.hero-internal {
    display: flex;
    justify-content:center;
    height: 300px;
    align-items: center;

}
.hero-internal__sign {
    min-height: 200px;
    /* width: 300px; */
    background-color: blue;
}

.hero-internal__image {
    min-height: 200px;
    /* width: 300px; */
    background-color: red;
}

.hero-internal__sign,
.hero-internal__image {
    flex: 1;
}