* {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.5);
}

.header {
    background: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li {
    padding: 0 8px;
}

.main-links a {
    text-decoration: none;
}

.logo {
    margin-left: 20px;
}

.hero {
    background: pink;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.samples {
    background: coral;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
}
.quote {
    background: greenyellow;
    width: 100%;
    min-height: 300px;
}
.cta {
    background: powderblue;
    width: 100%;
    min-height: 300px;
}

footer {
    width: 100%;
    height: 70px;
    background-color: cornflowerblue;
}

.hero-internal {
    display: flex;
    justify-content:center;
    height: 300px;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;

}
.hero-internal__sign {
    background-color: rgb(141, 141, 241);
}

.hero-internal__image {
    background-color: red;
}

.hero-internal__sign,
.hero-internal__image {
    width: 400px;
    height: 200px;
    padding: 8px;
}

figcaption {
    width: 75px;
    height: 55px;
    font-size: 12px;
}

.samples-internal {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    /* margin: 0 auto; */
}

figure {
    text-align: center;
    margin: 0 auto;
}